
#root, .ant-layout, .ant-layout-content {
  height: 100%;
}
/*-------First Section-------------------------*/

.first-home{
  height: 100%;
  width: 100%;
  position: relative;
}
.content-search-home{
  width: 100%;
  padding: 7% 0 0 0 ;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

}
.simbolo-search{
      width: 125px;
    margin: 0 auto;
   }

.content-search-home h1{
    font-size: 15px;
    color: rgba(112,111,111,1);


}

/*-------First Section-------------------------*/

.page-wrapper {
  width: 100%;
  padding: 0;
  overflow: hidden;
  .page {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    h2 {
      margin-bottom: 30px;
      font-size: 2rem;
    }
    .separator {
      margin-bottom: 65px;
      display: inline-block;
      width: 30px;
      height: 5px;
      background: #1890FF;
      border-radius: 2.5px;
    }
  }
}

.page {
  h2,
  h4,
  h5,
  span,
  p,
  a,
  .feature,
  .card-wrapper,
  .main-info,
  .detail {
    will-change: transform;
  }
  .main-info {
    line-height: 36px;
  }
}

.page1 {
  background: #f8fafe;
  padding-bottom: 100px;
  overflow: initial;
  min-height: 372px;
  .card {
    // transition: transform .3s @ease-out, box-shadow .3s @ease-out;
    position: relative;
    color: #868e96;
    display: inline-block;
    max-width: 360px;
    height: 272px;
    padding: 32px;
    box-shadow: 0 2px 2px rgba(84, 48, 132, 0.06);
    margin: 0 auto;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    text-align: center;
    border-radius: 4px;
    .card-img-top {
      width: 100%;
      border-top-left-radius: calc(.25rem - 1px);
      border-top-right-radius: calc(.25rem - 1px);
    }
    h3 {
      font-size: 30px;
    }
    img {
      height: 50px;
      margin: 20px 0;
    }
    &:hover {
      text-decoration: none;
      transform: translateY(-12px);
      box-shadow: 0 12px 24px rgba(84, 48, 132, 0.06);
    }
  }
}