/*-------header-------------------------*/

.header-home{
	height: auto;
	padding: 0px 0px;
	background-color: rgba(255,255,255,1);
	height: 85px;
}
.content-logo{
	height: auto;
	text-align: center;
	height: 85px;
	position: relative;
}

.logo-header{
	width: 170px;
    margin: 0 auto;
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
}
/*-------content-cta-------------------------*/

.content-cta{
	
	text-align: center;
	padding:10px 26px;
	width: 100%;
	max-width: 184px;
	background-color: rgba(238 , 125 , 0 ,1);
	float: right;
}
.content-cta h2{
	color: rgba(255,255,255,1);
	font-size: 10px;
    border-bottom: 2px #5F24FB solid;
    line-height: 1.2;
    padding: 5px 0;
}
.content-cta p{
	color: rgba(255,255,255,1);
	font-weight: 800;
}