/*---------------search-----------------*/
.content-search{
	max-width: 300px;
	padding: 30px 0;
	margin: 0 auto;
}
.selectsearch{
	width: 100%;
	padding: 0 2px;
}
.selectsearch .ant-select-selection--single{
	
	height: 35px;

}
.selectsearch .ant-select-selection{
	border: 1px solid rgba(255,255,255,.8);
    border-top-width: 1.02px;
    border-radius: 0px;
}

.button-search{
	color: rgba(238 , 125 , 0 ,1) !important;
	background-color: rgba(255,255,255,1) !important;
	padding-right: 4px !important;
    padding-left: 4px !important;
    font-size: 30px !important;
    width: 35px;
    height: 35px;
}

.button-search i{
	vertical-align: -0.0em !important;
}